<!DOCTYPE html>
<html lang="zxx" class="no-js">

	<head>
		<!-- Mobile Specific Meta -->
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link
		rel="shortcut icon" href="themes/mini_store/img/fav.png">
		<!-- Author Meta -->
		<meta
		name="author" content="CodePixar">
		<!-- Meta Description -->
		<meta
		name="description" content="">
		<!-- Meta Keyword -->
		<meta
		name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<head-placeholder token="{{ placeholder_token }}">
			<title>{{ head_title|safe_join(' | ') }}</title>
			<css-placeholder token="{{ placeholder_token }}">
				<js-placeholder token="{{ placeholder_token }}">
					{{ attach_library('mini_store/global') }}


				</head>

				<body>

					{{ page }}


					<js-bottom-placeholder token="{{ placeholder_token }}"></body>
				</body>
			</html>

