{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - items: Debug bar items
 * - attributes: Attributes for the wrapper element.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  <button id="debug-bar-toggler" class="debug-bar__toggler" aria-expanded="false" aria-controls="debug-bar-items" title="{{ 'Show debug bar'|t }}">
    <span class="visually-hidden">{{ 'Show debug bar'|t }}</span>
  </button>
  <ul class="debug-bar__list" id="debug-bar-items" hidden>
    {% for item in items %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}" {{- item.attributes }}>{{ item.content }}</a>
        {% else %}
          <span {{ item.attributes }}>{{ item.content }}</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
